.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
  &_button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;

    &:disabled {
      background-color: lightgray;
      cursor: not-allowed;
    }
  }
}

.active {
  background-color: #0056b3;
}
